<section class="bg-light">
    <div class="container">
        <div class="row py-5">
            <h3 class="lead fs-1">Get The FreshCart App</h3>
            <p class="fw-light">We will send you a link , open it on your phone to download the app .</p>

            <div class=" col-md-12 d-flex justify-content-center align-items-center">
                <div class="col-md-10">
                    <input type="text"       placeholder="Please Enter Your Email." class="form-control ">

                </div>
                {{userName}}
                <div class="col-md-2">
                    <button class="btn ms-2 btnFotter  ">Share App Link</button>

                </div>
                
            </div>
            
            <hr class="my-3">
            <div class="row px-0 mx-0">
                <div class="col-md-6 ">
                    <div class="d-flex w-100 align-items-center">
                        <p class="w-100 mb-0">Payments Partners

                        </p>
                        <div class="w-100">
                            <img src="../../assets/payments.png" class="w-100" alt="">

                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="d-flex align-items-center ">
                        <p class="w-100 mb-0">Get deliveries with FreshCart

                        </p>
                        <div class="w-100">
                            <img src="../../assets/app.png" class="w-100" alt="">


                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</section>