<section class="register my-5">
    <div [ngStyle]="{'background-image': 'url(\'assets/bgshobe.jpg\')'}"   class="bgi  px-3 overflow-hidden w-100 vh-100 pt-5">

        <div class="bgi col-md-4 col-sm-12 m-auto mt-5 rounded-5  bgLight    text-white">
            <div class="w-75 m-auto  py-5">
             <h4 class="mb-4 fw-bold sacoundColor m-auto text-center ">Login Now
            </h4>
            <div *ngIf="responseError" class="alert alert-danger text-center ">
                {{responseError}}
            </div>
            <form class="" (ngSubmit)="handelLogin(loginForme)"  [formGroup]="loginForme">
               
    
    
                <input type="email" placeholder="email" class="form-control rounded-4 mb-2 p-3" 
                formControlName="email" id="">
                <div *ngIf="loginForme.get('email')?.errors && loginForme.get('email')?.touched" class="alert alert-danger mt-0">
                    <p *ngIf="loginForme.get('email')?.getError('email')" class="m-0">Email Is Not Valid</p>
                    <p *ngIf="loginForme.get('email')?.getError('required')" class="m-0">email Is Required</p>
                 </div>
    
                <input type="password" placeholder="password" class="form-control rounded-4 mb-2 p-3"
                 formControlName="password" id="">
                 <div *ngIf="loginForme.get('password')?.errors && loginForme.get('password')?.touched" class="alert alert-danger mt-0">
                    <p *ngIf="loginForme.get('password')?.getError('pattern')" class="m-0">password Is Not Valid</p>
                    <p *ngIf="loginForme.get('password')?.getError('required')" class="m-0">password Is Required</p>
                 </div>
                 
              
                <button [disabled]="loginForme.invalid" type="submit" class="btn bgGradient text-white rounded-4 fw-bold mt-3 px-3 py-2 d-block ms-auto ">
                  <span *ngIf="isLoding == false"> Submit</span>  
                  <span *ngIf="isLoding == true"><i class="fas fa-spinner  fa-spin"></i></span> 
                </button>
         
                
            </form>
            </div>
         </div>
    </div>
</section>
