.bgcount
{
    color: #246c5e !important ;
    font-weight: bold !important;
    background-color: rgb(216, 211, 211);
    background: -webkit-linear-gradient(to right,white, #ffffff) !important;
    background: linear-gradient(to right,white, #ffffff) !important;
    box-shadow: 1px 1px 5px #246c5e ;
    transition: 0.5s !important;
}
.bgcount:hover
{
    border: 1px solid #246c5e;
    padding: 3px 15px ;
    color: #ffffff !important ;
    font-weight: bold !important;
    background-color: rgb(216, 211, 211);
    background: -webkit-linear-gradient(to right,white, #246c5e) !important;
    background: linear-gradient(to right,white, #246c5e) !important;
}