<div class="container pt-5">

    <div class="row d-flex align-items-center justify-content-center   m-0 p-0 col-sm-12 m-auto g-0">
        <div class="col-md-8     rounded-5   m-0 p-0  ">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img height="400" class=" rounded-start  "  [src]="'assets/1.jpg'" alt=""></ng-template>  
                <ng-template carouselSlide><img height="400" class=" rounded-start  "  [src]="'assets/4.jpg'" alt=""></ng-template>  
                <ng-template carouselSlide><img height="400" class=" rounded-start "  [src]="'assets/slide23.jpg'" alt=""></ng-template>  
                <ng-template carouselSlide><img height="400" class=" rounded-start "  [src]="'assets/slide22.jpg'" alt=""></ng-template>  
                <ng-template carouselSlide><img height="400" class=" rounded-start "  [src]="'assets/slide24.jpg'" alt=""></ng-template>  
                <ng-template carouselSlide><img height="400" class=" rounded-start "  [src]="'assets/slide25.jpg'" alt=""></ng-template>  
              </owl-carousel-o>
              
        </div>
        <div class="  col-md-4   align-items-center p-0 m-0">
            <img height="200" width="100%" class="rounded-end  " [src]="'assets/15.jpg'" alt="">
            <img height="200" width="100%" class="rounded-end  " [src]="'assets/photo4.webp'" alt="">
        
        </div>
       
    </div>
   
    

</div>