<div class=" my-5 d-flex align-items-center">
    <div   class="my-5 py-5 bg-light w-75 m-auto rounded-4 ">

        <form  [formGroup]="shippingAddress" (ngSubmit)="handelSubmit(shippingAddress)">
            <input type="text" placeholder="Enter Your Detales" class="form-control  w-75 m-auto rounded-4 mb-2 p-3" formControlName="details" id="">
           <div *ngIf="shippingAddress.get('details')?.errors && shippingAddress.get('details')?.touched" class="alert alert-danger  w-75 m-auto mb-2 mt-0">
            <p *ngIf="shippingAddress.get('details')?.getError('minlength')" class="m-0">Name MinLength Is 5</p>
            <p *ngIf="shippingAddress.get('details')?.getError('maxlength')" class="m-0">Name MaxLength Is 20</p>
            <p *ngIf="shippingAddress.get('details')?.getError('required')" class="m-0">Name Is Required</p>
           </div>


            <input type="tel" placeholder="Enter your Phone" class="form-control w-75 m-auto rounded-4 mb-2 p-3" formControlName="phone" id="">
           <div *ngIf="shippingAddress.get('phone')?.errors && shippingAddress.get('phone')?.touched " class="alert alert-danger  w-75 m-auto mb-2 mt-0">
            <p *ngIf="shippingAddress.get('phone')?.getError('pattern')" class="m-0">phone Is Not Valid</p>
            <p *ngIf="shippingAddress.get('phone')?.getError('required')" class="m-0">phone Is Required</p>
           </div>


           <input type="text" placeholder="Enter Your City" class="form-control  w-75 m-auto rounded-4 mb-2 p-3" formControlName="city" id="">
           <div *ngIf="shippingAddress.get('city')?.errors && shippingAddress.get('city')?.touched" class="alert alert-danger  w-75 m-auto mb-2 mt-0">
            <p *ngIf="shippingAddress.get('city')?.getError('minlength')" class="m-0">Name MinLength Is 5</p>
            <p *ngIf="shippingAddress.get('city')?.getError('maxlength')" class="m-0">Name MaxLength Is 20</p>
            <p *ngIf="shippingAddress.get('city')?.getError('required')" class="m-0">Name Is Required</p>
           </div>


            <div class="bot w-75 py-2 d-flex align-items-center m-auto">
                <button type="submit" class="btn py-2  m-auto my-2 btndeteals fw-800">+ add</button>
            </div>   
        </form>
       
    </div>
       
</div>
<app-footer></app-footer>